@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin-top: 0;
    margin-left: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 25px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.profile-card::before{
    content: "";
    position: absolute;
    top: 0;
    border-radius: 24px 24px 0 0;
    height: 36%;
    width: 100%;
    background-color: #4070f4;
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 2px;
    margin-bottom: 10px;
}

.image .profile-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid;
    border-color: #fff;
}

.profile-card .profile-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.name {
    font-size: 22px;
    font-weight: 500;
}

.job {
    font-size: 15px;
    font-weight: 400;
}

.profile-data .social{
    margin-top: 15px;
    display: flex;
    align-items: center;

}

.social .link{
    text-decoration: none;
    background-color: #4070f4;
    margin: 0 8px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;

}

.profile-data .buttons{
    margin-top: 25px;
    display: flex;
    align-items: center;
}

button {
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    background-color: #4070f4;
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
} 

button:hover{
    background-color: #0e4bf1;
}

.analytics {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.analytics .data{
    display: flex;
    align-items: center;
    border-right: 2px solid #e7e7e7;
    padding: 0 20px;
}

.data i{
    font-size: 18px;
    margin-right: 6px;
}

.data:last-child{
    border-right: none;
}